.container
  .col-sm-12.col-md-4.col-md-offset-4
    %h1 Messages
    - if params[:mailbox] == 'inbox'
      %strong= link_to 'Sent Messages', messages_path(:mailbox=>:sent)
    - if params[:mailbox] == 'sent'
      %strong= link_to 'Received Messages', messages_path(:mailbox=>:inbox)
    - @messages.each do |m|
      %p #{m.id}
      %p #{m.body}
      %hr




