
<div class = 'container'>
<%= current_user.user_name %>	
<%= simple_form_for @profile do |f| %>
  <%= f.input @questions[0][0], :collection => @questions[0][2], :label => @questions[0][1] %>
  <%= f.button :submit %>

<% end %>
</div>