- @random_users.each do |user|
  user_name: "#{user.user_name}"
  - if user.profile_photo.present?
    =image_tag "#{user.profile_photo}"
  - else
    empty
    =image_tag "#{user.profile_photo}"
  link_to account['id'],show_path,{:id => account['id']}

