<div id="logo"></div>
<div id="tagline">Plenty of turds in the sea.</div>
<div id="soon">Coming May 2013</div>

<div id="login">
	<% if user_signed_in? %>
		Hello <%= current_user.username %> |
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	<% else %>
		<%= link_to 'sign in', new_user_session_path %> |
		<%= link_to 'sign up', new_user_registration_path %>
	<% end %>
</div>