// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body{margin:0;padding:0;width:100%;height:100%;}
#logo {background-image:url('shittydudefinder.png');background-repeat:no-repeat;width:100%;height:100%;background-position:center;}
body {
	text-align:center;
	color: #445;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
body {
	background: #f435ff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f435ff 0%, #ffffff 62%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f435ff), color-stop(62%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #f435ff 0%,#ffffff 62%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #f435ff 0%,#ffffff 62%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #f435ff 0%,#ffffff 62%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #f435ff 0%,#ffffff 62%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f435ff', endColorstr='#ffffff',GradientType=1 );
}
#tagline{width:100%;position:absolute;bottom:13%;font-size:44px;}
#copyright{width:100%;position:absolute;bottom:2%;font-size:16px;}
#soon{width:100%;position:absolute;bottom:5%;font-size:26px;font-style:italic;}

